.foooter__logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-right: 93px;
    display: flex;
    margin-bottom: 20px;
}

.foooter__logostudio {
    color: var(--title-primary-fon);
}