:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --title-primary-fon: #FFFFFF;
    --fon-teamm: #F5F4FA;
    --fon-logostudio: #000000;
    --background-color: #2F303A;
    --button-active: #188CE8;
    --contacts-footer: #FFFFFF99;
    --border-color: rgba(255, 255, 255, 0);
    --header-portfolio: #ECECEC;
    --border-portfolio: #EEEEEE;
    --background-hero: #C4C4C4;
    --border-klient-color: #AFB1B8;
    --work-img-title-color: rgba(47, 48, 58, 80%);
    --portfolio-animation: rgba(33, 150, 243, 90%);
    --background-color-shadov: rgba(0, 0, 0, 0.25);
    --modal-border-color: rgba(33, 33, 33, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --footer-placeholder-color: rgba(255, 255, 255, 0.6);
    --modal-input-contract-color: rgba(33, 150, 243, 1);
}