.features {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width:480px) {
        flex-wrap: wrap;
    }
    @media screen and (min-width:768px) {
        flex-wrap: wrap;
    }
    @media screen and (min-width:1200px){
        flex-wrap: nowrap;
    }
    
    &__block {
        display: flex;
        justify-content: center;
        border-radius: 4px;
        background-color: var(--fon-teamm);
        margin-bottom: 30px;
    }

    &__box{
            @media screen and (min-width:480px) {
            width: 450px;
        }
        
            @media screen and (min-width:768px) {
            width: 354px;
        }
        
            @media screen and (min-width:1200px) {
            width: 270px;
        }
    }

    &__icon {
        margin: 25px 100px;
    }

    &__subtitle {
        color: var(--title-text-color);
        line-height: 1.7;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__title {
        font-weight: 700;
        line-height: 1.2;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 10px;

        @media screen and (min-width:480px),
        (max-width:768px) {
            text-align: center;
        }
    }
}